@page
@model TourCompany.Pages.LoginModel

@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<form method="post">
	<div class="border p-3 mt-4 mb-5">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row pb-2">
			<h2 class="text-primary pl-3">
				Login
			</h2>
		</div>
		<div class="mb-3">
			<label asp-for="Login.EmailAddress"></label>
			<input asp-for="Login.EmailAddress" class="form-control" />
			<span asp-validation-for="Login.EmailAddress" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Login.Password"></label>
			<input asp-for="Login.Password" class="form-control" />
			<span asp-validation-for="Login.Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Login.RememberMe"></label>
			<input type="checkbox" asp-for="Login.RememberMe" class="form-checked" />
			<span asp-validation-for="Login.RememberMe" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Login</button>
		<a asp-page="Index" button type="submit" class="btn btn-outline-secondary">Home</a>
		<br /><br />
		<a asp-page="Register" button type="submit" class="text-info">Not A User? Sign Up</a>

	</div>
</form>

@section Scripts {
	@{
		<partial name="_validationScriptsPartial" />
	}
}
<script>
	$("nav").html(`
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">Terrific Tours</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button></div>`)
</script>

