@page
@model TourCompany.Pages.RegisterModel
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<form method="post">
	<div class="border p-3 mt-4 mb-5">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row pb-2">
			<h2 class="text-primary pl-3">
				Register
			</h2>
		</div>
		<div class="mb-3">
			<label asp-for="Register.Firstname"></label>
			<input asp-for="Register.Firstname" class="form-control" />
			<span asp-validation-for="Register.Firstname" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.Lastname"></label>
			<input asp-for="Register.Lastname" class="form-control" />
			<span asp-validation-for="Register.Lastname" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.Phone"></label>
			<input asp-for="Register.Phone" class="form-control" />
			<span asp-validation-for="Register.Phone" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.EmailAddress"></label>
			<input asp-for="Register.EmailAddress" class="form-control" />
			<span asp-validation-for="Register.EmailAddress" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.Password"></label>
			<input asp-for="Register.Password" class="form-control" />
			<span asp-validation-for="Register.Password" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Register.ConfirmPassword"></label>
			<input asp-for="Register.ConfirmPassword" class="form-control" />
			<span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
		</div>



		<button type="submit" class="btn btn-primary">Register</button>
		<a asp-page="Index" button type="submit" class="btn btn-outline-secondary">Home</a>
		<br /><br />
		<a asp-page="Login" button type="submit" class="text-info">Already A User? Sign In</a>

	</div>
</form>

@section Scripts {
	@{
		<partial name="_validationScriptsPartial" />
	}
}

<script>
	$("nav").html(`
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">Terrific Tours</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button></div>`)
</script>


